extends layouts/main

block content
  .board__detail-container
    .board__detail-titles
      .board__detail-column
        span= oneBoard.index
      .board__detail-column
        span= oneBoard.title
      .board__detail-column
        span= oneBoard.createdAt
        span= oneBoard.views
    .board__detail-content
      span= oneBoard.content
    a(href=routes.editBoard(oneBoard.id)) 글 수정하기