extends layouts/main

block content
  .home__container
    .swiper-container
      .swiper-wrapper
        .swiper-slide 
          span 수가성교회는 3가지 뜻을 가지고 있습니다.
        .swiper-slide 
          span 첫 째, 참된 구세주 예수그리스도를 만나는 곳입니다
        .swiper-slide 
          span 둘 째, 영생의 샘터가 되는 곳입니다.
        .swiper-slide 
          span 셋 째, 소외된 이에게 진리와 사랑을 주는 곳입니다
      .swiper-pagination
    .home__item
      .item__first
        span #{slogan.permanentSloganTitle}
        span 
          span #{slogan.permanentSlogan}
          span #{slogan.permanentBible}
      .item__second
        span #{slogan.sloganTitleThisYear}
        span 
          span #{slogan.sloganThisYear}
          span #{slogan.thisYearBible}
    .home__item
      span 수가성교회는 언제나 여러분을 환영합니다